@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=The+Nautigal:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s linear;
}

body[data-theme="light"]{
    --color-1: #fcfccc;
    --color-2: #F67493;
    --color-3: #7c5418;
    --color-4: #202011;
    --color-button-theme: #c2a24b;
    --nav-bar-shadow: 2px 1px 3px rgba(0,0,0,.1);
}

body[data-theme="dark"]{
    --color-1: #140c0b;
    --color-2: #892043;
    --color-3: #af9d81;
    --color-4: #fad7b5;
    --color-button-theme: #4bb0c2;
    --nav-bar-shadow: 2px 1px 3px rgba(255,255,255,.1);
}

body{
    background: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.theme-button{
    color: var(--color-button-theme);
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    nav,i{
        margin: 10px;
    }
    nav{
        list-style: none;
        position: relative;
        .menu-button{
            font-size: 30px;
            color: var(--color-4);
        }
        .menu{
            position: absolute;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            color: var(--color-4);
            font-size: 20px;
            li{
                margin: 20px;
                text-align: center;
                i{
                    &.active{
                        color: #4bb0c2;
                    }
                }
            }
            a{
                color: var(--color-4);
                text-decoration: none;
                &:visited{
                    color: var(--color-4);
                }
            }
        }
        @media(max-width:600px) {
            .menu{
                flex-wrap: wrap;
                width: 200px;
            }
        }
    }
    nav[open-nav="false"]{
        .menu-button{
            &::before{
                content: "\f3c6";
            }
        }
        .menu{
            position: absolute;
            visibility: hidden;
            max-height: 0px;
        }
    }
    nav[open-nav="true"]{
        .menu-button{
            &::before{
                content: "\f62a";
            }
        }
        .menu{
            max-height: 100px;
            overflow: hidden;
            transform: translateX(-100%);
        }
        @media (max-width:600px) {
            .menu{
                max-height: 200px;
            }
        }
    }
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    .section-esempi{
        a{
            color: var(--color-2);
            text-decoration: none;
            &:visited{
                color: var(--color-2);
            }
        }
    }
}