@import url("https://fonts.googleapis.com/css2?family=Shizuru&family=The+Nautigal:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  scroll-behavior: smooth;
}

.scroll-to-top {
  position: fixed;
  right: -100px;
  bottom: 20px;
  padding: 5px;
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 20px;
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.scroll-to-top:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body[data-theme="light"] {
  --color-1: #fcfccc;
  --color-2: #F67493;
  --color-3: #7c5418;
  --color-4: #202011;
  --color-button-theme: #c2a24b;
  --nav-bar-shadow: 2px 1px 3px rgba(0,0,0,.1);
}

body[data-theme="dark"] {
  --color-1: #140c0b;
  --color-2: #892043;
  --color-3: #af9d81;
  --color-4: #fad7b5;
  --color-button-theme: #4bb0c2;
  --nav-bar-shadow: 2px 1px 3px rgba(255,255,255,.1);
}

body {
  background: var(--color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.theme-button {
  color: var(--color-button-theme);
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
}

header nav, header i {
  margin: 10px;
}

header nav {
  list-style: none;
  position: relative;
}

header nav .menu-button {
  font-size: 30px;
  color: var(--color-4);
}

header nav .menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  color: var(--color-4);
  font-size: 20px;
}

header nav .menu li {
  margin: 20px;
  text-align: center;
}

header nav .menu li i.active {
  color: #4bb0c2;
}

header nav .menu a {
  color: var(--color-4);
  text-decoration: none;
}

header nav .menu a:visited {
  color: var(--color-4);
}

@media (max-width: 600px) {
  header nav .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 200px;
  }
}

header nav[open-nav="false"] .menu-button::before {
  content: "\f3c6";
}

header nav[open-nav="false"] .menu {
  position: absolute;
  visibility: hidden;
  max-height: 0px;
}

header nav[open-nav="true"] .menu-button::before {
  content: "\f62a";
}

header nav[open-nav="true"] .menu {
  max-height: 100px;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (max-width: 600px) {
  header nav[open-nav="true"] .menu {
    max-height: 200px;
  }
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .section-esempi a {
  color: var(--color-2);
  text-decoration: none;
}

.main .section-esempi a:visited {
  color: var(--color-2);
}
/*# sourceMappingURL=style.css.map */