@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=The+Nautigal:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s linear;
    scroll-behavior: smooth;
}

.scroll-to-top{
    position: fixed;
    right: -100px;
    bottom: 20px;
    padding: 5px;
    background-color: var(--color-4);
    color: var(--color-1);
    font-size: 20px;
    z-index: 10;
    filter: opacity(0.6);
    &:hover{
        filter: opacity(1);
        transform: scale(1.25);
        color: #db9956;
    }
}

body[data-theme="light"]{
    --color-1: #fcfccc;
    --color-2: #F67493;
    --color-3: #7c5418;
    --color-4: #202011;
    --color-button-theme: #c2a24b;
    --nav-bar-shadow: 2px 1px 3px rgba(0,0,0,.1);
}

body[data-theme="dark"]{
    --color-1: #140c0b;
    --color-2: #892043;
    --color-3: #af9d81;
    --color-4: #fad7b5;
    --color-button-theme: #4bb0c2;
    --nav-bar-shadow: 2px 1px 3px rgba(255,255,255,.1);
}

body{
    background: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.theme-button{
    color: var(--color-button-theme);
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    i{
        padding: 10px;
    }
    nav{
        list-style: none;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-button{
            font-size: 30px;
            color: var(--color-4);
        }
        .menu{
            background: var(--color-1);
            position: absolute;
            top: 0;
            overflow: hidden;
            width: 100%;
            color: var(--color-4);
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 10px 0;
            li{
                text-align: left;
                i{
                    &.active{
                        color: #4bb0c2;
                    }
                }
            }
            a{
                color: var(--color-4);
                text-decoration: none;
                &:visited{
                    color: var(--color-4);
                }
            }
        }
        @media(max-width:600px) {
            .menu{
                flex-wrap: wrap;
            }
        }
    }
    nav[open-nav="false"]{
        .menu-button{
            &::before{
                content: "\f3c6";
            }
        }
        .menu{
            position: absolute;
            visibility: hidden;
            max-height: 0px;
        }
    }
    nav[open-nav="true"]{
        .menu-button{
            &::before{
                content: "\f62a";
            }
        }
        .menu{
            max-height: 50px;
            overflow: hidden;
        }
    }
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    .section-esempi{
        margin: 50px auto;
        .grid-template{
            display: flex;
            column-gap: 20px;
            row-gap: 20px;
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:1470px) {
                flex-wrap: wrap;
            }
            .esempi-immagini{
                width: 350px;
                height: 175px;
                img{
                    width: 350px;
                    height: 175px;
                }
                a{
                    display: block;
                    position: relative;
                    text-decoration: none;
                    color: var(--i);
                    width: 350px;
                    height: 175px;
                    p{
                        visibility: hidden;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;
                        margin: auto;
                        font-size: 25px;
                    }
                }
                &:hover{
                    img{
                        filter: blur(2px) grayscale(100%);
                    }
                    p{
                        visibility: visible;
                    }
                }
            }
        }
        
    }
    .section-home{
        height: 100vh;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    }
}