@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=The+Nautigal:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s linear;
}

body[data-theme="light"]{
    --color-1: #e0e0e0;
    --color-2: #fa9fd9;
    --color-3: #ffc876;
    --color-4: #3b3b3a;
    --color-button-theme: #c2a24b;
}

body[data-theme="dark"]{
    --color-1: #000000;
    --color-2: #FD76CB;
    --color-3: #FFAC30;
    --color-4: #FFFEFD;
    --color-button-theme: #4bb0c2;
}

body{
    background: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.theme-button{
    color: var(--color-button-theme);
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--color-1);
    /* filter: drop-shadow(2px 0 5px rgba(0,0,0,.5)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    nav,i{
        margin: 10px;
    }
    nav{
        list-style: none;
        position: relative;
        .menu-button{
            font-size: 30px;
            color: var(--color-4);
        }
        .menu{
            position: absolute;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            color: var(--color-4);
            font-size: 20px;
            li{
                margin: 20px;
                text-align: center;
                i{
                    &.active{
                        color: #4bb0c2;
                    }
                }
            }
            a{
                color: var(--color-4);
                text-decoration: none;
                &:visited{
                    color: var(--color-4);
                }
            }
        }
    }
    nav[open-nav="false"]{
        .menu-button{
            &::before{
                content: "\f3c6";
            }
        }
        .menu{
            position: absolute;
            visibility: hidden;
            max-height: 0px;
        }
    }
    nav[open-nav="true"]{
        .menu-button{
            &::before{
                content: "\f62a";
            }
        }
        .menu{
            max-height: 100px;
            overflow: hidden;
            transform: translateX(-100%);
        }
    }
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}